#map
{
	height: 400px;
	width: 900px;
}


	.wrapper { margin: auto; width: 900px; border: 1px solid #ccc; padding: 0 3em; overflow: auto;}
	a:link, a:visited { color: red; }


.info
{
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.info h4
{
	margin: 0 0 5px;
	color: #777;
	font-size: 36px;
}

.xyzzy { fill: purple !important; fill-opacity: 1  !important; fill-opacity: 1  !important; stroke-weight: 100  !important; }

.leaflet-control-reset { background-color: white; padding: 2px; }


ul#faclist { list-style-type: none; }
	
	li.researcher { border-bottom: 1px solid #ccc; overflow: auto; }
	.researcher-name-bio { float: left; width: 66%; }
	.researcher-side { float: right; width: 30%; }
	
	
	
	.researcher-side dt:first-child { float: none; color: orange;}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}